.searchForm{
    width: 30vw;
    border-radius: 25px;
    height: 5vh;
}

.button{
    border-radius: 25px;
    background-color: var(--card-bg);
    color: var(--text-color);
    height: 5vh;
}

.button:hover{
    background-color: #ea4a4a;
}