.block{
    width: 18vw;
    border: solid #ec9898 1px;
    height: 90vh;
    margin-bottom: 3vh;
    padding-left: 3px;
    border-radius: 5px;
    background-color: var(--card-bg);
    color: var(--text-color);
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.block:hover{
    background-color: #fccaca;
    color: black;
}

.img{
    height: 55vh;
    width: 18vw;
    display: flex;
    justify-content: center;

}