.font{

    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
    padding-right: 2vw;
    align-items: center;
}
.whiteThemeButton{
    height: 6vh;
    width: 3vw;
    border-radius: 35px;
    background-color: var(--card-bg);
    color: var(--text-color);
    background-size: cover;
    background-position: center;
}

.darkThemeButton{
    height: 6vh;
    width: 3vw;
    border-radius: 35px;
    background-color: var(--card-bg);
    color: var(--text-color);
    font-size: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 4px rgba(8, 78, 248, 0.5);
    transition: box-shadow 0.5s ease;
}

.darkThemeButton:hover {
    background-color: #ea4a4a;
    box-shadow: 1px 3px 6px rgba(248, 8, 152, 0.5);
    transition: box-shadow 0.5s ease;
}

.link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2vw;
}

.link:hover{
    color: #ea4a4a;
}

.searchComponent{
    display: flex;
    justify-content: center;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding-bottom: 2vh;
    padding-top: 2vh;
}



.block{
    display: flex;
    justify-content: space-between;
    background-color: var(--card-bg);
    color: var(--text-color);
}

.userIcon{
    border-radius: 15px;
    border: solid #ffffff;
    height: 6vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: var(--text-color);
}

.userBlock {
    display: flex;
    align-items: center;
    gap: 12px;
    /*border: solid var(--text-color);*/
    /*border-radius: 25px;*/
    height: 6vh;
    margin-right: 2vw;

}

.userName {
    font-weight: bold;
    color: var(--text-color);
    font-size: 22px;
}

.logoutBtn {
    font-weight: bold;
    color: #6173ec;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    height: 6vh;
    background-color: var(--card-bg);
    font-size: 22px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logoutBtn:hover {

    color: #ea4a4a;

}