.font{

    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    width: 30vw;
    padding-right: 2vw;
    align-items: center;
}
.whiteThemeButton{
    height: 6vh;
    width: 3vw;
    border-radius: 35px;
    background-color: var(--card-bg);
    color: var(--text-color);
    background-image: url(https://static.thenounproject.com/png/1841400-200.png);
    background-size: cover;
    background-position: center;
}

.darkThemeButton{
    height: 6vh;
    width: 3vw;
    border-radius: 35px;
    background-color: var(--card-bg);
    color: var(--text-color);
    font-size: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2vw;
}

.link:hover{
    color: #ea4a4a;
}

.searchComponent{
    display: flex;
    justify-content: center;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding-bottom: 2vh;
    padding-top: 2vh;
}



.block{
    display: flex;
    justify-content: space-between;
    background-color: var(--card-bg);
    color: var(--text-color);
}

.userIcon{
    border-radius: 15px;
    border: solid #ffffff;
    height: 6vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: var(--text-color);
}

