.block{
    width: 18vw;
    border: solid #ec9898 1px;
    height: 110vh;
    margin-bottom: 3vh;
    padding-left: 3px;
    border-radius: 5px;
    background-color: var(--card-bg);
    color: var(--text-color);
    box-shadow: 1px 3px 6px rgba(8, 78, 248, 0.5);
    transition: box-shadow 0.5s ease;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.block:hover{
    background-color: #fccaca;
    color: black;
    box-shadow: 1px 3px 6px rgba(245, 94, 179, 0.5);
    transition: box-shadow 0.5s ease;
}

.img{
    margin-left: 0;
    height: 55vh;
    width: 18vw;
    display: flex;
}