.target{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--card-bg);
    color: var(--text-color);

}
.pagination{
    display: flex;
    justify-content: center;
}